<div class="innerwrapper">
    <div class="forum">
        <div class="forum_bod">
            <div class="cat_header">
                ADMIN PANEL
            </div>
            <div class="forum_tile">
                <%= link_to 'Categories Controller', admin_categories_path, :class => 'board_title' %><Br>
                <p class='admin_desc'>Contains all functions for creating, editing, and deleting categories.</p>
            </div>
            <div class="forum_tile">
                <%= link_to 'Boards Controller', admin_boards_path, :class => 'board_title' %>
                <p class='admin_desc'>Contains all functions for creating, editing, and deleting boards.</p>
            </div>
        </div>
    </div>
</div>