<h1><%= @user.username %></h1>
Karma: <%= @user.karma %>
                            <% if current_user != @user %>
                                <%= link_to "Add Karma", karma_path(user: {slug: @user.slug}), :method => :post %>
                            <% end %>

<hr>
<% if @user == current_user || admin? %>
<%= button_to "Edit Profile", edit_user_path(slug: @user.slug), :method => :get %>
<% end %>