
<div class="nav_path">PATH: <%= link_to 'ADMIN PANEL', admin_path, :class => 'links' %> >> <%= link_to 'BOARDS CONTROLLER', admin_boards_path, :class => 'links' %> >> <%= link_to 'EDIT BOARD', edit_admin_board_path(@board), :class => 'links' %></div>
<div class="main_header">
    Edit Board
</div>
<%= render partial: "admin/boards/form", locals: {board: @board, categories: @categories} %>
