<%= form_for [:admin, category], :html => {class: 'form'} do |cat_form| %>
    <%= category_errors_display(category) %>
    <%= cat_form.text_field :title, :class => 'admin_fields', :placeholder => 'Input Unique Category Title' %>
    <div class="centered_button">
        <%= cat_form.submit "", :class => "#{chosen_class(category)}" %>
    </div>

<% end %>