/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  * {
    font-family: "Aktiv Grotesk", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
 .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; 
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  body{
    margin: 0;
    background-color: grey;
  }
  
  .main {
    margin-top: 20px;
    margin-left: 5px;
  }

 div.field_with_errors input{
     border: 2px solid red;
     border-radius: 10px;
 }

 div.field_with_errors select{
  border: 2px solid red;
}

 div.errors_list {
     color: red;
 }

 .button_to {
     display: inline;
 }

 blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

 blockquote.innerquote {
    background: #f9f9f9;
    border-left: 0px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
 }

 table {
     border: 2px solid black;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
 }

 td {
     border: 1px solid rgb(0, 0, 0);
     padding: 5px 10px 5px 5px;
}

td.user_side {
    width: 15%;
}

th.category {
  text-align: left;
}

div.flash_success {
   background-color: rgb(0, 192, 0);
   color: white;
   padding-left: 30px;
   font-weight: bolder;
   font-size: x-large;
   width: 100%;
   margin-top: 45px;
}

div.flash_error {
   background-color: rgb(255, 58, 58);
   color: white;
   padding-left: 30px;
   font-weight: bolder;
   font-size: x-large;
   width: 100%;
   margin-top: 45px;
}

.centered_button {
  display: flex;
  justify-content: center;
}

.nav_path {
  padding-top: 10px;
  padding-right: 40px;
  float: left;
  font-size: medium;
  color: #ffffff;
  text-decoration: none;
  padding-left: 40px;
  background-color: #233247;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav_path .links {
  color: white;
  text-decoration: none;
  font-weight: 700;
}