// Place all the styles related to the board_threads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
}

.row  {
    position: relative;
    padding: 20px;
    margin:20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 95%;
}

.left, .right, .middle {
    display: table-cell;
}

.left {
    border-right: dotted rgb(170, 170, 170) 5px;
    font-size: small;
    text-align: center;
    width: 150px;
}

.middle {
    font-size: medium;
    width: 91%;
    padding: 10px;
}

.post_link {
    text-decoration: none;
    color: steelblue;
    font-weight: bolder;
    padding-left: 3px;
    padding-right: 3px;
}

.timestamp {
    font-size: x-small;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.locking {
    font-size: medium;
    text-align: right;
}

.button_align_right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }

  .quick_reply_button, .reply_button, .move_thread_button {
    background-image: url('http://tinyimg.io/i/bYUesw2.png');
    border-radius: 10px;
    width: 350px;
    height: 42px;
    border: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .reply_button {
      background-image: url('http://tinyimg.io/i/HLChSpj.png');
  }

  .move_thread_button {
      background-image: url('http://tinyimg.io/i/kwRpUST.png');
  }

  .quick_reply_button:hover, .reply_button:hover, .move_thread_button:hover {
      opacity: .6;
  }

  .search_input_field {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding-left: 10px;
    height: 30px;
    position: relative;
    display: inline-block;
    border: none;
}