// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.note {
    font-size: small;
    color: gray;
}

.user_forms {
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: SourceSansPro-Regular, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}

.user_form_container {
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: SourceSansPro-Regular, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    width: 800px;
    background: rgb(233, 233, 233);
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 150px 25px 150px;
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.form_input_bg {
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: SourceSansPro-Regular, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
}

.form_input_field {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: manipulation;
    margin: 0;
    overflow: visible;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    background: transparent;
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    height: 62px;
    padding: 0 20px 0 23px;
}

.form_input_bg .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
    margin-bottom: 5px;
}

.form_input_bg:hover .tooltiptext {
  visibility: visible;
}